<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cosmos - Day {{dayNumber}}</title>
        <link rel="stylesheet" href="/def_styles.css" type="text/css">
        <script src="../../JS/requester.js"></script>
    </head>
    <body>
        <h1>Day {{dayNumber}}</h1>
        <p>{{description}}</p>
        <button onclick="getSolution({{dayNumber}})">SOLVE!</button>
        <br><br><br>
        <div id="response">
        </div>
        <footer>
            <a href="{{link}}">Click to go to AdventOfCode site of this problem.</a><br>
            <a href="/">Back to homepage!</a>
        </footer>
    </body>
</html>